* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#root {
  position: relative;
  display: block;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: #1c1c3d;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: 'Noto Serif Display';
}

main h1,
main h2 {
  text-align: center;
  margin-block: 1.25rem 2rem;
}

main * {
  color: #f0eeee;
  fill: #f0eeee;
  stroke: #f0eeee;
}

main input {
  color: #1c1c3d;
  padding: 0.5rem 0.8rem;
  max-width: 64px;
  font-size: 1.1rem;
}

main .controls {
  padding: 1rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .controls > * {
  margin: 0.5rem;
}

main .loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

main .loading .loader {
  margin-top: 10rem;
  position: absolute;
}

main .nearest,
main .stations {
  position: relative;
  width: clamp(0px, 100%, 50rem);
  padding: 1rem;
}

main .nearest p,
main .nearest a,
main .stations p,
main .stations a {
  margin-block: 0.8rem;
}

main .nearest svg,
main .stations svg {
  margin-inline: 0.5rem;
  font-size: 1rem;
}

main a {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(240, 238, 238, 0.418);
          text-decoration-color: rgba(240, 238, 238, 0.418);
}

main a:hover {
  -webkit-text-decoration-color: #f0eeee;
          text-decoration-color: #f0eeee;
}

main .nearest a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .stations .stations_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .stations .station {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

main .stations .station header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .stations .station .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */