$primary: rgb(28, 28, 61);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

#root {
	position: relative;
	display: block;
}

.mono {
	font-family: 'Roboto Mono', monospace;
}

main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	min-height: 100vh;
	top: 0;
	left: 0;
	background: $primary;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Noto Serif Display';
	}

	h1,
	h2 {
		text-align: center;
		margin-block: 1.25rem 2rem;
	}

	* {
		color: rgb(240, 238, 238);
		fill: rgb(240, 238, 238);
		stroke: rgb(240, 238, 238);
	}

	input {
		color: $primary;
		background: $primary;
		color: white;
		border: thin solid white;
		border-radius: 3px;
		padding: 0.5rem 0.8rem;
		max-width: 80px;
		font-size: 1.1rem;
	}

	.price {
		background: white;
		color: $primary;
		padding: 0.3rem;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.controls {
		padding: 1rem;
		padding-top: 2rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		> * {
			margin: 0.5rem;
		}
	}

	.loading {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 1.5rem;
		.loader {
			margin-top: 10rem;
			position: absolute;
		}
	}

	.nearest,
	.stations {
		position: relative;
		width: clamp(0px, 100%, 50rem);
		padding: 1rem;

		p,
		a {
			margin-block: 0.8rem;
		}

		svg {
			margin-inline: 0.5rem;
			font-size: 1rem;
		}
	}

	a {
		text-decoration: underline;
		text-decoration-color: rgba(240, 238, 238, 0.418);

		&:hover {
			text-decoration-color: rgb(240, 238, 238);
		}
	}

	.nearest {
		header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.stations {
		.stations_container {
			display: flex;
			gap: 2rem;
			flex-direction: column;
		}
		.station {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;

			header {
				.header {
					display: flex;
					align-items: center;
					justify-content: flex-start;

					.price {
						margin-right: 1rem;
					}
				}
				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
			}
		}
	}
}
